body {
  font-family: 'Georgia', serif;
  background-color: #fffaf9;
}

.card {
  background-color: #fffdfd;
  border: 3px solid #ffe6ec;
}

h2 {
  color: #b04b4b;
  font-weight: bold;
}

label {
  font-weight: 500;
}

textarea {
  resize: none;
}

.alert-success {
  background-color: #f6fffa;
  border-left: 5px solid #4caf50;
}
